{% extends 'base.html'%}


{%block content%}

{%if error %}
{{error}}
{%endif%}


<h1 class="text-center">CREATE</h1>
<br>
<form action="{%url 'createmed' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="Medicine">Medicine Name</label>
    <input type="text" class="form-control" name="medicine" id="Medicine">
  </div>
  <div class="form-group">
    <label for="pwd">frequency</label>
    <input type="text" class="form-control" name="frequency" id="pwd">
  </div>

  <div class="form-group">
    <label for="time">select timings</label>
    <input type="time" class="form-control" name="selecttime" id="time">
  </div>
  <div class="form-group">
    <label for="med_dur">Medicine Duration</label>
    <input type="number" class="form-control" name="medicine_dur" id="med_dur">
  </div>
  <div class="form-group">
    <label for="treat_dur">Treatment Duration</label>
    <input type="number" class="form-control" name="treat_dur" id="treat_dur">
  </div>


  <button type="submit" class="btn btn-success">Submit</button>
</form>

{%endblock%}
