{% extends 'base.html' %}

{% block content%}
{% load staticfiles %}
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="container text-center ">
        <h1><font color="#f7ab2f">Your Personal MedScheduler , Health Matters!!!</font></h1>
        <h5>Stay Fit With NaviaLifeCare</h5>
        <hr>
      </div>
      <br>
      {%for medicines in med.all %}

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm ">
          <img src='{% static 'logo.png'%}' height="200" width="350"  \>
          <div class="card-body bg-warning ">
            <p class="card-text">Medicine Name: {{ medicines.medicine_name }}</p>
            <p class="card-text">Dosage: {{ medicines.frequency }}  times a day</p>
            <p class="card-text">Medicine Timings: {{ medicines.select_timing }}</p>
            <p class="card-text">Medicine Duration: {{ medicines.med_duration }} days</p>
            <p class="card-text">treatment Duration: {{ medicines.treatment_duration }} days</p>
            <form action="{% url 'delete' medicines.id%}" method="post">
              {% csrf_token %}
            <input type="submit" class="btn btn-danger " value="DELETE">
            </form>

          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>
{%endblock%}
